body, html {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: absolute;
  width: 1920px;
  height: 1080px;
  left: 50%;
  top: 50%;
  transform-origin: center;
}

.intro-overlay {
position: fixed;
top: 0;
left: 0;
z-index: 10000;
width: 100%;
height: 100%;
background: black;
display: flex;
align-items: center;
justify-content: center;
}

.intro-overlay.fade-out {
animation: fadeOut 2s ease forwards;
pointer-events: none;
z-index: -1;
}

.intro-overlay video {
max-width: 100%;
max-height: 100%;
}

@keyframes fadeOut {
to {
  opacity: 0;
  visibility: hidden;
}
}


.button {
  position: absolute;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  padding: 0px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  animation: glowPulse 2s infinite ease-in-out;
  transition: transform 0.3s ease;
}

@font-face {
font-family: "HomeVideo";
src: url("fonts/HomeVideo-BLG6G.ttf") format("truetype");
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: "SourceCodeVariable-Italic";
src: url("fonts/SourceCodeVariable-Italic.otf") format("opentype");
font-weight: normal;
font-style: normal;
}


@keyframes glowPulse {
  0% {
      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  }
  50% {
      filter: drop-shadow(0 0 20px rgb(255, 255, 255));
  }
  100% {
      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.5));
  }
}

.button-2 {
position: absolute;
color: rgb(0, 0, 0);
border: none;
cursor: pointer;
padding: 0px;
}


.fade-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: black;
opacity: 0;
pointer-events: none;
transition: opacity 3s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(224, 224, 224, 0.253);
  color: rgb(255, 242, 97); 
  filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
  z-index: 1100;
  cursor: pointer;
}

.modal-content {
  position: fixed;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 1000px;
  font-size: 2.5vw; /* Scales with screen width */
  font-family: 'HomeVideo';
  top: 50%; /* Will be overridden by JS */
  left: 50%; /* Will be overridden by JS */
}

.modal.alt-style {
   background-color: rgba(224, 224, 224, 0.158);
}

.modal.alt-style .modal-content {
  font-family: 'HomeVideo';
  color:  rgb(255, 242, 97); 
  border-radius: 20px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 2s ease;
  pointer-events: none; /* Prevent clicking when hidden */
}

.popup.show {
  opacity: 1;
  pointer-events: auto;
  
}

.popup img {
  max-width: 1000px;
  height: auto;
  cursor: pointer;
  border: none;
}

.draggable-button {
  position: absolute;
  cursor: grab;
  padding: 0px;
  border: none;
  background: none;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.6));
}


